.notification {
    background-color: red;
    padding: 10px;
    border: 1px solid green;
    border-radius: 25%;
}

.image {
    width: 300px;
}

.abzac {
    font-size: 20px;
}

.blue {
    background-color: blue;
}

.green {
        
}