.underText {
    margin-bottom: 20px;
}

.inputPass {
    width: 288px;
    border-radius: 2px 0 0 2px;
    border-color: #DDDFE1;
    border-style: solid;
    margin-top: -10px;
    outline: none;

}

.entry {
    display: flex;
    height: 26px;
    position: relative;
}

.eye {
    position: absolute;
    background-color: inherit;
    cursor: pointer;
    border: 0;
    right: 30px;
}

.subText {
    color: #8C969D;
    margin-top: 10px;
}

.success {
    color: #64B82A;
}

.error-text {
    color: #D0021B;
}

.error-input {
    background-color: #FFF0F2;
    border-color: #D0021B;
}