.continue {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11px 20px;
    background: #478CC8;
    border-radius: 45px;
}

.blue {
    background-color: #478CC8;
}

.green {
    background-color: #64B82A;
}

.red {
    background-color: #D0021B;
}

.tiny-size {
    width: 75px;
    height: 28px;
    font-size: 16px;
}

.normal-size {
    width: 100px;
    height: 25px;
    color: white;
    font-size: 11px;
    text-transform: uppercase;
    margin-left: 75px;
    cursor: pointer;
}

.big-size {
    width: 143px;
    height: 48px;
    font-size: 26px;
    font-weight: bold;
}