
.continue {
    /* Auto layout */

    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px 20px;
    gap: 4px;

    width: 129px;
    height: 42px;

    /* Blue Primary */

    background: #478CC8;
    border-radius: 45px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.blue {
    background-color: #478CC8;
}

.green {
    background-color: #64B82A;
}

.red{
    background-color: #D0021B;
}

.tiny-size{
width: 75px;
height: 28px;
font-size: 16px;
}

.normal-size{
width: 91px;
height: 42px;
font-size: 20px;
}

.big-size{
    width: 143px;
    height: 48px;
    font-size:26px;
    font-weight: bold;

}